<div class="left-arrow-container">
    <a class="left-arrow" [routerLink]="['/profile']">&#8592;</a>
    <div class="my-profile-container">
      <a class="my-profile">Conversation</a>
    </div>
  </div>

<div class="colon-container">
    <a class="colon">:</a>
</div>

  <div class="search-container">
    <div class="search-icon">
     
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <input type="text" class="search-input" placeholder="Search friend" [(ngModel)]="searchText" (input)="filterProfiles($event)">
   
  </div>
  
  <div class="center-container">
    <div class="not-found" *ngIf="friendsChat?.length==0" >
          <h2>No Match Found</h2>
    </div>
    <div class="profile-box" *ngFor="let list of friendsChat">
      <div class="profile-photo-container">
        <img [src]="list?.ProfileImage" alt="Profile Photo">
      </div>
      <div class="profile-info">
        <h2 class="profile-name">{{list.Name}}</h2>
        <p class="profile-message">{{list.LastMessage}}</p>
      </div>
    </div>
  </div>

  <div class="edit">
   
    <i class="fa-solid fa-pencil"></i>
  </div>
  

