

<div class="main-content">
  <div class="header"> <div class="hello-class">
      <h2 class="hello">Hello</h2>
      
      <h1>{{userName}}</h1>
    </div>
    
     <div class="dp-container" [routerLink]="['/profile']">
        <img src="./assets/images/profile-photo.jpg" alt="User Profile Picture">
     </div></div>

  <div class="container">
     <div class="circle-plus">
      <span class="plus-icon">+</span>
     </div>    
       <div class="image-container">
        <div *ngFor="let list of friendList" class="circle">
        <img [src]="list?.ProfileImage" alt="Profile Image">
      </div>
    </div>
  </div>

<div class="post-list">
    <div *ngFor="let list of postList">
      <div class="Container">
        <div class="top-part">
          <img class="square-image" [src]="list?.PostImage" alt="Square Image">
        </div>
        <div class="bottom-part">
          <img class="profile-photo" [src]="list?.ProfileImage" alt="Profile Photo">
          <div class="profile-info">
            <div class="profile-name">{{list.Name}}</div>
            <div class="profile-time">{{list.Time}}</div>
          </div>
          <div class="colon">
            <p>:</p>
          </div>
        </div>
      </div>
   </div>
   
  </div>
  
  

  
</div>



