
.main-content{
margin: 10px;
}

.dp-container {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%; /* To make it circular, assuming the image is square */
    overflow: hidden; /* To hide any content outside the circle (if the image is not square) */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a subtle shadow effect */
    transition: transform 0.3s; 
    position:absolute;
     top: 20px;
     right: 20px; 
  }
  
  .dp-container img {
    width: 100px; /* Adjust the size of the image as needed */
    height: 100px;
  }

  /* profile-images.component.css */
/* profile-images.component.css */
.container {
  display: flex;
  // justify-content: center;
  overflow-x: auto;
  margin-top: 100px;
}

.image-container {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// /* post-list.component.css */
.post-list{
 margin-top: 20px;;
}
.Container {

  aspect-ratio: 5/4;
  background-color: #ffffff;
  box-shadow: 3px 1px 7px gray;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px
}

.top-part {
 width: 100%;
}

.square-image {
  width: inherit;
    height: 300px;
    object-fit: cover;
}

.bottom-part {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
}

.profile-time {
  font-size: 14px;
  color: #888;
}

/* Pagination styles remain the same as before */


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* FontAwesome icons for left and right chevron buttons */
.pagination i {
  font-size: 16px;
}
